In [1]:
import requests
import pandas as pd

### Consulta de los datos

In [2]:
r = requests.get('https://pokemondb.net/pokedex/all')

In [3]:
page_url = 'https://pokemondb.net/pokedex/all'
html = requests.get(page_url, timeout = 5, verify = True)
print(html)

<Response [200]>

In [4]:
html.text[:1000]

'<!DOCTYPE html>\n<html lang="en">\n<head>\n<meta charset="utf-8">\n<title>Pokémon Pokédex: list of Pokémon with stats | Pokémon Database</title>\n<link rel="preconnect" href="https://img.pokemondb.net">\n<style>@font-face{font-family:"Fira Sans";font-style:normal;font-weight:400;font-display:swap;src:url("/static/fonts/fira-sans-v10-latin-400.woff2") format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:"Fira Sans";font-style:italic;font-weight:400;font-display:swap;src:url("/static/fonts/fira-sans-v10-latin-400i.woff2") format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:"Fira Sans";font-style:normal;font-weight:700;font-display:swap;src:url("/static/fonts/fira-sans-v10-latin-600.woff2") format("woff2");unicode-range:'

In [5]:
dfs = pd.read_html(html.text)
dfs

[        #                      Name             Type  Total   HP  Attack  \
 0       1                 Bulbasaur     Grass Poison    318   45      49
 1       2                   Ivysaur     Grass Poison    405   60      62
 2       3                  Venusaur     Grass Poison    525   80      82
 3       3    Venusaur Mega Venusaur     Grass Poison    625   80     100
 4       4                Charmander             Fire    309   39      52
 ...   ...                       ...              ...    ...  ...     ...
 1070  902        Basculegion Female      Water Ghost    530  120      92
 1071  903                  Sneasler  Poison Fighting    510   80     130
 1072  904                  Overqwil      Dark Poison    510   85     115
 1073  905  Enamorus Incarnate Forme     Fairy Flying    580   74     115
 1074  905    Enamorus Therian Forme     Fairy Flying    580   74     115

       Defense  Sp. Atk  Sp. Def  Speed
 0          49       65       65     45
 1          63       80       80     60
 2          83      100      100     80
 3         123      122      120     80
 4          43       60       50     65
 ...       ...      ...      ...    ...
 1070       65      100       75     78
 1071       60       40       80    120
 1072       95       65       65     85
 1073       70      135       80    106
 1074      110      135      100     46

 [1075 rows x 10 columns]]

In [6]:
len(dfs)

1

In [7]:
df = dfs[0]
df.head()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65

In [8]:
df.to_csv("pokemon.csv", index = False)

In [9]:
pokemon = pd.read_csv("pokemon.csv", on_bad_lines='skip', sep = ",")
pokemon

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...
1070,902,Basculegion Female,Water Ghost,530,120,92,65,100,75,78
1071,903,Sneasler,Poison Fighting,510,80,130,60,40,80,120
1072,904,Overqwil,Dark Poison,510,85,115,95,65,65,85
1073,905,Enamorus Incarnate Forme,Fairy Flying,580,74,115,70,135,80,106
1074,905,Enamorus Therian Forme,Fairy Flying,580,74,115,110,135,100,46

### Limpieza de los datos

#### Estadíticas de los datos

In [10]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1075 entries, 0 to 1074
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   #        1075 non-null   int64
 1   Name     1075 non-null   object
 2   Type     1075 non-null   object
 3   Total    1075 non-null   int64
 4   HP       1075 non-null   int64
 5   Attack   1075 non-null   int64
 6   Defense  1075 non-null   int64
 7   Sp. Atk  1075 non-null   int64
 8   Sp. Def  1075 non-null   int64
 9   Speed    1075 non-null   int64
dtypes: int64(8), object(2)
memory usage: 84.1+ KB

In [11]:
print(pokemon.columns)

Index(['#', 'Name', 'Type', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed'],
      dtype='object')

In [12]:
print(pokemon.describe())

                 #        Total           HP       Attack      Defense  \
count  1075.000000  1075.000000  1075.000000  1075.000000  1075.000000
mean    444.312558   440.697674    70.275349    80.847442    74.760930
std     264.180041   121.841330    26.642689    32.408889    31.161763
min       1.000000   175.000000     1.000000     5.000000     5.000000
25%     213.500000   330.000000    50.000000    56.000000    50.500000
50%     442.000000   460.000000    68.000000    80.000000    70.000000
75%     675.500000   516.000000    83.500000   100.000000    90.000000
max     905.000000  1125.000000   255.000000   190.000000   250.000000

           Sp. Atk      Sp. Def        Speed
count  1075.000000  1075.000000  1075.000000
mean     73.296744    72.382326    69.134884
std      32.862140    28.005817    30.220442
min      10.000000    20.000000     5.000000
25%      50.000000    50.000000    45.000000
50%      65.000000    70.000000    65.000000
75%      95.000000    90.000000    90.000000
max     194.000000   250.000000   200.000000

#### Comprobación de valores nulos en los datos

In [18]:
pokemon.isnull()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1070,False,False,False,False,False,False,False,False,False,False
1071,False,False,False,False,False,False,False,False,False,False
1072,False,False,False,False,False,False,False,False,False,False
1073,False,False,False,False,False,False,False,False,False,False
1074,False,False,False,False,False,False,False,False,False,False

In [21]:
df.isnull().sum()

#          0
Name       0
Type       0
Total      0
HP         0
Attack     0
Defense    0
Sp. Atk    0
Sp. Def    0
Speed      0
dtype: int64

#### Comprobación de valores duplicados en los datos

In [20]:
pokemon.duplicated().sum()

0

### Número de pokemon por tipo

In [15]:
numero_pokemon_tipo = pokemon['Type'].value_counts()
numero_pokemon_tipo

Water             73
Normal            71
Psychic           45
Grass             43
Fire              34
                  ..
Fighting Ice       1
Ice Ghost          1
Rock Fighting      1
Steel Fighting     1
Psychic Ice        1
Name: Type, Length: 196, dtype: int64

In [16]:
numero_pokemon_tipo.to_csv('lista_tipos_pokemon.csv')

In [34]:
import pickle

lista_tipos_pokemon = pokemon['Type'].value_counts()
print(type(lista_tipos_pokemon))
print(lista_tipos_pokemon)
with open('lista_tipos_pokemon.txt', 'wb') as file:
    pickle.dump(lista_tipos_pokemon, file)

<class 'pandas.core.series.Series'>
Water             73
Normal            71
Psychic           45
Grass             43
Fire              34
                  ..
Fighting Ice       1
Ice Ghost          1
Rock Fighting      1
Steel Fighting     1
Psychic Ice        1
Name: Type, Length: 196, dtype: int64

### Mejores pokemon de ataque

In [39]:
pokemon_ordenados_ataque = pokemon.sort_values('Attack', ascending=False)
pokemon_ordenados_ataque

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
198,150,Mewtwo Mega Mewtwo X,Psychic Fighting,780,106,190,100,154,100,130
270,214,Heracross Mega Heracross,Bug Fighting,600,80,185,115,40,105,75
952,798,Kartana,Grass Steel,570,59,181,131,59,31,109
471,384,Rayquaza Mega Rayquaza,Dragon Flying,780,105,180,100,180,100,115
474,386,Deoxys Attack Forme,Psychic,600,50,180,20,180,20,150
...,...,...,...,...,...,...,...,...,...,...
301,242,Blissey,Normal,540,255,10,10,75,135,55
170,129,Magikarp,Water,200,20,10,55,15,20,80
268,213,Shuckle,Bug Rock,505,20,10,230,10,230,5
535,440,Happiny,Normal,220,100,5,5,15,65,30
151,113,Chansey,Normal,450,250,5,5,35,105,50

In [41]:
pokemon_ordenados_ataque.head(10).to_csv("pokemon_ordenados_ataque.csv")

### Mejores pokemon de defensa

In [42]:
pokemon_ordenados_defensa = pokemon.sort_values('Defense', ascending=False)
pokemon_ordenados_defensa

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
1054,890,Eternatus Eternamax,Poison Dragon,1125,255,115,250,125,250,130
268,213,Shuckle,Bug Rock,505,20,10,230,10,230,5
261,208,Steelix Mega Steelix,Steel Ground,610,75,125,230,55,95,30
375,306,Aggron Mega Aggron,Steel,630,70,140,230,60,80,50
962,805,Stakataka,Rock Steel,570,61,131,211,53,101,13
...,...,...,...,...,...,...,...,...,...,...
224,174,Igglybuff,Normal Fairy,210,90,30,15,40,20,15
83,63,Abra,Psychic,310,25,20,15,105,55,90
301,242,Blissey,Normal,540,255,10,10,75,135,55
535,440,Happiny,Normal,220,100,5,5,15,65,30
151,113,Chansey,Normal,450,250,5,5,35,105,50

In [43]:
pokemon_ordenados_defensa.head(10).to_csv("pokemon_ordenados_defensa.csv")